body {
	background: 

background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

h1{
	/* Using the custom font we've included in the HTML tab: */
	font-family: Satisfy, cursive;
	font-weight:normal;
	font-size:48px;
	padding-top: 60px;
	color: #ffffff;
}

#srchForm {
	padding-bottom: 20px;
}

